<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        <!-- ajax -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanilla-smoothie@2.2.5/dist/vanilla-smoothie.min.js"></script>

        <!-- css -->
        <link rel="stylesheet" href="/css/hospitalRegister.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/tabmenu.css" />
        <noscript> <link rel="stylesheet" href="/css/noscript.css" /> </noscript>

        <script src="/js/token.js"></script>

        <title>모두의 병원</title>
    </head>
    <body class="is-preload">
        <% if (user === null && components === "main" && isOpen === true) { %> <%-
        include('wrapper.ejs') %> <% } %>
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <%- include('header.ejs') %>

            <!-- page -->
            <% if (components === "main") { %> <%- include('main.ejs') %> <% } else if (components
            === "mypage") { %> <%- include('mypage-vertical.ejs') %> <% } else if (components ===
            "map") { %> <%- include('map.ejs') %> <% } else if (components === "hospital") { %> <%-
            include('hospital.ejs') %> <% } else if (components === "hospitalRegister") { %> <%-
            include('hospitalRegister.ejs') %> <% } else if (components === "hospitalEdit") { %> <%-
            include('hospitalEdit.ejs') %> <% } else if (components === "doctorRegister") { %> <%-
            include('doctorRegister.ejs') %> <% } else if (components === "doctorEdit") { %> <%-
            include('doctorEdit.ejs') %> <% } else if (components === "reservation") { %> <%-
            include('reservation.ejs') %> <% } else if (components === "admin") { %> <%-
            include('admin.ejs') %> <% } else if (components === "hospitaldetail") { %> <%-
            include('hospitaldetail.ejs') %> <% } else if (components === "login") { %> <%-
            include('login.ejs') %> <% } else if (components === "signup") { %> <%-
            include('signup.ejs') %> <% } else if (components === "doctorTime") { %> <%-
            include('doctorTime.ejs') %> <% } else if (components === "findmypassword") { %> <%-
            include('findmypassword.ejs') %> <% } else if (components === "resetpassword") { %> <%-
            include('resetpassword') %> <% } else if (components === "partner") { %> <%-
            include('partner.ejs') %> <% } %>
            <!-- Footer -->
            <%- include('footer.ejs') %>
        </div>

        <!-- Scripts -->
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/tabmenu.js"></script>
    </body>
</html>
